# User service database
USER_DB_NAME=account
USER_DB_USER=user
USER_DB_PASSWORD_FILE=./secrets/user/db-password

# URLs
ACTUATOR_READINESS_PROBE_URL=http://localhost:8080/actuator/health/readiness
USER_SERVICE_URL=http://user-service:8080
DISPATCHER_SERVICE_URL=http://dispatcher-service:8080
INGESTION_SERVICE_URL=http://ingestion-service:8080
GATEWAY_SERVICE_URL=http://gateway-service:8080
