# User service database
USER_DB_NAME=users
USER_DB_USER=user
USER_DB_PASSWORD=user-secret

# Another service database
ANOTHER_DB_NAME=another
ANOTHER_DB_USER=another-user
ANOTHER_DB_PASSWORD=another-secret

# Spring profile
SPRING_PROFILES_ACTIVE=docker
